<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252673283223-c3ajpca9amn129j8vll70ud7v03nqchm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252673283223-c3ajpca9amn129j8vll70ud7v03nqchm</string>
	<key>API_KEY</key>
	<string>AIzaSyCpuSkWrZnrjAgLhjGMMXJN_G_ow3n9yrA</string>
	<key>GCM_SENDER_ID</key>
	<string>252673283223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.disaoledPeople</string>
	<key>PROJECT_ID</key>
	<string>disabled-people</string>
	<key>STORAGE_BUCKET</key>
	<string>disabled-people.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252673283223:ios:f43a272d043c8acb1ec5d2</string>
</dict>
</plist>